@import 'reset';

body {
    font-size: 100%, sans-serif;
    background-color: #efefef;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.main {
    width: 640px;
    margin: 0 auto;

    @media (max-width: 640px) {
        width: auto;
    }
}

.content {
    z-index: 0;
}

.stay {
    top: 0;
    position: fixed;
    width: 100%;
    background-color: #555;
    z-index: 100;
}

.screen {
    border: 1px solid black;
}

.button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: pointer;

    background-color: #fff;

    margin: 2px;

    width: 20%;

    display: inline-block;

    font-size: 4em;
    line-height: 140%;

    box-shadow: 2px 3px 0px #000;

    position: relative;

    &:active {
        box-shadow: 1px 1px 0px #000;
        top: 2px;
        left: 1px;
    }
}

.route-num {

    overflow: hidden;
    text-align: center;

    padding: 10px 0;

    .num {
        background-color: #fff;
        display: inline-block;
        font-size: 4em;
        line-height: 140%;

        width: 15%;
        margin: 2px;

        box-shadow: -2px -2px 0px #000;
    }

    .clear {
        display: inline-block;
        font-size: 2em;
        line-height: 140%;
        width: 10%;
    }

}

.keypad {

    overflow: hidden;
    text-align: center;

    padding: 10px 0;

}

.chart {
    padding: 10px 10px;
    width: 100%;
    margin: 0 auto;
    height: 200px;
    overflow: hidden;
    text-align: center;

    div {
        display: inline-block;
        vertical-align: bottom;
        width: 17%;
        font-size:2em;
        color: #000;
        text-align: right;
        margin: 3px;
    }

    &.stars div {
            background-color: #1FF;
    }

    &.diff div {
        background-color: #F1F;
    }

}
