@import 'reset';

body {
    font-size: 100%, sans-serif;
    background-color: #efefef;
}

.content {
    width: 640px;
    margin: 0 auto;

    @media (max-width: 640px) {
        width: auto;
    }
}

h1 {
    text-align: center;
}

.keypad {

    overflow: hidden;
    text-align: center;

    .button {
        padding: 2px;
        margin: 2px;

        width: 20%;

        display: inline-block;

        border: 1px solid black;

        font-size: 4em;
        line-height: 140%;
    }
}

